@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-radio-btn {
    --size: 21px;
    min-width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: var(--size);
  }
  .custom-radio-btn input {
    display: none;
  }
  
  /* checkmark */
  
  .custom-radio-btn .checkmark {
    --gap: 3px;
    --border: 2px;
    --check-color: #FFA654;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.3s ease; 
    border: var(--border) solid #CCCCCC; 
    padding: var(--gap);
    position: absolute;
    top: 0;
    left: 0; 
  }
  
  /* .custom-radio-btn.left .checkmark {
    left: auto;
    right: 0;
  } */

  .custom-radio-btn input:checked ~ .checkmark {
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: radial-gradient(
      circle at center, 
      var(--check-color) 
         calc((var(--size) - (var(--border) * 2) - (var(--gap) * 2)) / 2), 
      rgba(255, 255, 255, 0) 0);
    border-color: #FFA654;
  }
/* dấu chấm ở order slide */
  .dot{
    width: 6px;
    height: 6px;
    /* background-color: #1E2A39; */
    border-radius: 50%;
  }
  .order__colors{
    background: linear-gradient(93.26deg, #F078AB 2.7%, #A478C8 37.67%, #FFAC61 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* .hexagon{
    height: 2.1875rem;
    width: 2.375rem;
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
  } */

  .hexagon,
  .hexagon::after,
  .hexagon::before{
    border-right:1px solid #000;
    border-left:1px solid #000;
  }

  .hexagon,
  .hexagon-es {
    width: 34px;
    height: 19px;
    position: relative;
    border-radius: 3px;

  }

  .hexagon:hover,
  .hexagon-es:hover{
    transform: rotate(-110deg);
  }

  .hexagon-es,
  .hexagon-es::after,
  .hexagon-es::before{
    border-right:1px solid #000;
    border-left:1px solid #000;
    background: conic-gradient(from 180deg at 52.49% 50%, #FF5B28 -13.07deg, rgba(89, 95, 221, 0.77) 70.77deg, rgba(255, 88, 158, 0.77) 135deg, #FFB865 273.34deg, #FF5B28 346.93deg, rgba(89, 95, 221, 0.77) 430.77deg);
  }
  .hexagon::after,
  .hexagon::before,
  .hexagon-es::after,
  .hexagon-es::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 19px;
    border-radius: 2px;
    background: inherit;
  }
  .hexagon:before,
  .hexagon-es::before{
    transform: rotate(60deg);
  }
  .hexagon:after,
  .hexagon-es::after {   
    transform: rotate(-60deg);
  }